.container {

    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculadora {

    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}


.calculadora form input {

    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;

    font-size: 1.3rem;
    margin: 1px;

}

form .pantalla {
    border-radius: 10px;
    border:  solid;
    display: flexbox;
    flex-direction: row;



}

form .display input {
    text-align: right;
    width: 97%;
   
    flex: 1;


}

form .displayResultado input {
    text-align: right;
    width: 97%;
    
    flex: 1;


}