.container {

    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculadora {
    background-color: #a479a2;

    padding: 20px;
    border-radius: 10px;
    border: 2 px solid #3f1337;
}


.calculadora form input {

    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;

    font-size: 1.3rem;
    margin: 1px;

}

form .pantalla {
    border-radius: 10px;
    border: 3px solid #412a3f;
    display: flexbox;
    flex-direction: row;



}

.botones {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #632c5a;
    color: white;
}

form .display input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    width: 97%;

    flex: 1;
    background-color: transparent;

}

form .displayResultado input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    text-align: right;
    width: 97%;

    flex: 1;


}